<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easybotics.bluetooth"
    android:versionCode="17"
    android:versionName="0.3" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    
    <application
        android:name="com.easybotics.easydroid.MainApplication"     
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:debuggable="true"
        >
        
        <activity
            android:label="@string/app_name"
            android:name="com.easybotics.easydroid.EasydroidActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.easybotics.bluetooth.BTDeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
               
         <activity android:name="com.easybotics.bluetooth.BTChatActivity"
                  android:label="@string/title_chat"
                  android:configChanges="orientation|keyboardHidden" />
         
          <activity android:name="com.easybotics.easydroid.CommandBotActivity"
                  android:label="@string/title_chat"
                  android:configChanges="orientation|keyboardHidden" />        
    </application>

</manifest>